<!-- START #top -->
  <div id="top">
    <div class="wrap">
    
      <div id="logo" style="width: 380px">
        <h1 style="color: #fff !important; font-size: 30px;">
          <a style="color: #fff;" href="/">Chapman Satellites</a>
        </h1>
        <span id="logo-span" style="width: 235px;">
          Advanced Satellite Systems, INC.
        </span>
      </div>

      <!-- START navigation -->
      <%= render(:partial => "/refinery/menu", :locals => {
                   :dom_id => 'menu',
                   :css => 'menu'
                 }) %>
      <!-- END navigation -->
    </div>
  </div>
  <!-- END #top -->