<!-- START #slider_wp -->
  <div id="slider_wp">
    <div class="wrap">
    
      <div id="slider">
        <div>
          <img src="<%= asset_path("satellight.png")%>" alt="" align="right" />

          <h1>Professional Satellite Installation</h1>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget sapien facilisis velit ullamcorper tincidunt vel egestas orci. 
          Praesent lacus orci, adipiscing ut lobortis sit amet, tempor eget orci. Fusce volutpat posuere velit a varius. 
          Sed sodales ante tincidunt.</p>
          
          <ul>
            <li><span>10GB</span> Disk Space</li>
            <li><span>100GB</span> Bandwidth</li>
            <li><span>Free</span> Website Firewall</li>
            <li><span>Free</span> Domain Name</li>
          </ul>
          
          <ul>
            <li><span>10GB</span> Disk Space</li>
            <li><span>100GB</span> Bandwidth</li>
            <li><span>Free</span> Website Firewall</li>
            <li><span>Free</span> Domain Name</li>
          </ul>
          
          <ul class="last">
            <li><span>10GB</span> Disk Space</li>
            <li><span>100GB</span> Bandwidth</li>
            <li><span>Free</span> Website Firewall</li>
            <li><span>Free</span> Domain Name</li>
          </ul>

          <div class="clear"></div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- END #slider_wp -->
  <div class="clear"></div>